<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg width="100%" height="100%" viewBox="0 0 256 256" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
    <g transform="matrix(1,0,0,1,-318.936,-32)">
        <rect id="star" x="318.936" y="32" width="256" height="256" style="fill:none;"/>
        <g id="star1" serif:id="star">
            <g transform="matrix(8.74416,0,0,8.74416,-10567.9,-1524.14)">
                <path d="M1258.92,180.328C1259.05,180.025 1259.35,179.828 1259.67,179.828C1260,179.828 1260.3,180.025 1260.43,180.328L1263.79,188.197L1272.32,188.962C1272.64,188.991 1272.92,189.214 1273.02,189.527C1273.12,189.84 1273.03,190.184 1272.78,190.4L1266.34,196.029L1268.24,204.371C1268.32,204.692 1268.19,205.026 1267.92,205.219C1267.66,205.413 1267.3,205.429 1267.02,205.26L1259.67,200.869L1252.33,205.26C1252.05,205.429 1251.69,205.413 1251.42,205.219C1251.16,205.026 1251.03,204.692 1251.11,204.371L1253.01,196.029L1246.57,190.4C1246.32,190.184 1246.22,189.84 1246.33,189.527C1246.43,189.214 1246.71,188.991 1247.03,188.962L1255.56,188.197L1258.92,180.328Z"/>
            </g>
        </g>
    </g>
</svg>

//-  style="fill:rgb(255,206,4);"