<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg width="100%" height="100%" viewBox="0 0 188 256" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
    <g transform="matrix(1,0,0,1,-64.9362,-32)">
        <g id="popcorn" transform="matrix(0.738074,0,0,1.00001,42.0955,0.49602)">
            <rect x="30.946" y="31.504" width="254.717" height="255.998" style="fill:none;"/>
            <g id="popcorn_bucket" transform="matrix(1.35488,0,0,0.999992,-57.0343,1.21802)">
                <path d="M109.53,135.514L123.267,247.688C123.67,250.976 126.666,253.319 129.955,252.916L141.871,251.457C145.159,251.055 147.502,248.058 147.099,244.77L133.72,135.514L184.143,135.514L170.753,244.721C170.35,248.009 172.692,251.006 175.98,251.409L187.896,252.871C191.185,253.274 194.182,250.931 194.585,247.643L208.333,135.514L247.284,135.514C247.284,135.514 233.358,224.556 227.11,264.509C225.403,275.42 215.325,283.514 203.447,283.514C179.089,283.514 138.88,283.514 114.529,283.514C102.657,283.514 92.583,275.428 90.869,264.525C84.589,224.58 70.588,135.514 70.588,135.514L109.53,135.514Z"/>
            </g>
            <g id="popcorn_top" transform="matrix(1.45977,0,0,1.04362,-73.7054,-4.08214)">
                <path d="M75.508,115.329C75.336,113.808 75.336,112.237 75.529,110.648C76.535,102.361 82.535,95.83 89.337,94.38C85.207,88.784 85.047,79.916 89.789,73.046C94.531,66.176 102.879,63.182 109.576,65.059C108.52,58.185 112.499,50.258 119.89,46.379C127.282,42.5 136.065,43.728 141.122,48.502C143.382,41.924 150.589,36.755 158.936,36.755C167.284,36.755 174.49,41.924 176.75,48.502C181.808,43.728 190.591,42.5 197.982,46.379C205.374,50.258 209.353,58.185 208.297,65.059C214.994,63.182 223.342,66.176 228.084,73.046C232.826,79.916 232.665,88.784 228.536,94.38C235.337,95.83 241.338,102.361 242.344,110.648C242.537,112.237 242.536,113.808 242.364,115.329L75.508,115.329Z"/>
            </g>
        </g>
    </g>
</svg>


//-  style="fill:rgb(255,77,0);"
//- style="fill:rgb(255,206,4);"