.modal--video.modal--hidden(id="modal_video")
    .modal__overlay
    .page__wrapper
        .modal__body
            div
                .modal__header 
                    button(type="button" name="btn_modal_close" aria-label="Close") X
                .modal__main
                    .modal__iframe(id="video_modal_iframe")

block scripts
    script(src="/js/videoModal.js" type="text/javascript")