doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title='Morrison Hotel'
    body

        h1 Morrison Hotel
        h2 Presented in Pug and served by Express.js
