extends layout/index.pug

block headStyles 
    link(rel="stylesheet" href="/css/moviesTable.css")

block content
    h2 Trending Today
    .scroller__container(data-role="smooth_scroller")
        ul.highlights.list--noStyle(data-role="scroll_list")
            each ttl in content.highlights
                li.highlights__item(data-role="scroll_item")
                    a(href="/title/" + ttl.tmdbid)
                        .highlights__backdrop
                            img(src= ttl.backdrop_path)
                        .highlights__poster
                            img(src= ttl.poster_path)
                        .highlights__details
                            p= ttl.title
                            p= ttl.release_date
    
    h2 New in Movies
    .posterGroup
        ul.list--noStyle
            each ptr in content.nowPlaying
                li
                    img(src= ptr.poster_path)
        h3 See now-playing movies
    
    .posterGroup
        ul.list--noStyle
            each ptr in content.upcoming
                li
                    img(src= ptr.poster_path)
        h3 See upcoming movies
                    
block scripts
    script(src="/js/smoothScroller.js" type="text/javascript")
    script(src="/js/movies.js" type="text/javascript")