extends layout/index.pug

block headStyles 
    link(rel="stylesheet" href="/css/moviesTable.css")

block content
    ul.highlights.list--noStyle
        each mov in movies
            li.highlights__item(data-role="scroll_item")
                .highlights__backdrop
                    img(src= mov.backdrop_path)
                .highlights__poster
                    img(src= mov.poster_path)
                .highlights__details
                    p= mov.title
                    p= mov.release_date
                    
block scripts
    script(src="/js/smoothScroller.js" type="text/javascript")
    script(src="/js/movies.js" type="text/javascript")