extends layout/index.pug

block headStyles 
    link(rel="stylesheet", href="/css/moviesTable.css")

block content
    .content__wrapper
        table
            tbody
                tr
                    th Title
                    th Relase Date
                each val in movies
                    tr(id= val.id)
                        td= val.title
                        td= val.release_date

block scripts
    script(src="/js/movies.js", type="text/javascript")