extends layout/index.pug

block content
    section.section--banner
        .page__wrapper
            .banner__wrapper
                p.banner__text--titleList
                    span.text--block 404
                    span.text--block Page not found
