extends layout/index.pug

block content

    section
        .section__head.section__head--title
            .page__wrapper
                h2= title.title
                span= "(" + title.releaseYear + ")"
        .section__main--title
            .page__wrapper
                .title
                    .title__video
                        if video.key
                            .title__iframe--video
                            div(id="video_iframe" data-src= video.key)

                    .title__poster
                        picture(id="poster_picture")
                            source(media="(max-width:639px)" srcset= title.posterSm)
                            source(media="(min-width:640px)" srcset= title.posterLg)
                            img(src= title.posterLg alt= `backdrop graphic for '${title.title}'`)

                    .title__summary
                        p= title.summary 
                    

                //- .title__meta.title__meta--displaySm
                //-     .title__metaItem
                //-         //- <i class="fas fa-film" aria-hidden="true"></i>
                //-         span(aria-label="Runtime")= title.runtime + "min"
                //-     .title__metaItem
                //-         //- <i class="far fa-star" aria-hidden="true"></i>
                //-         span(aria-label="Average rating")= title.voteAverage + "/5"
                //-     .title__metaItem
                //-         span.rating__user
                //-             if isAuth
                //-                 select(name="slct_rating")
                //-                     option(value="-1" disabled selected) Rate
                //-                     option(value="5") 5
                //-                     option(value="4") 4
                //-                     option(value="3") 3
                //-                     option(value="2") 2
                //-                     option(value="1") 1
                //-                     option(value="0") 0
                //-             else 
                //-                 a(href="/auth/signin") Signin to Rate
block scripts
    script(src="https://www.youtube.com/iframe_api" type="text/javascript" defer="true")
    script(src="/js/title.js" type="text/javascript")