extends layout/index.pug

block content
    include includes/videoModal.pug

    section
        .section__head
            .page__wrapper
                h2= title.title
                div
                    span= "(" + title.releaseYear + ")"
        .section__main
            .page__wrapper
                .title
                    .title__content--left
                        .title__poster
                            picture
                                source(media="(max-width:639px)" srcset= title.posterSm)
                                source(media="(min-width:640px)" srcset= title.posterLg)
                                img(src= title.posterLg alt= `backdrop graphic for '${title.title}'`)

                    .title__content--right
                        .title__summary
                            p= title.summary
                        .title__preview
                            if video.key
                                .preview__image
                                    img(src= title.backdropSm)
                                    a(href="#" data-src= video.key id="anc_modal_open")

                //- .title__meta.title__meta--displaySm
                //-     .title__metaItem
                //-         //- <i class="fas fa-film" aria-hidden="true"></i>
                //-         span(aria-label="Runtime")= title.runtime + "min"
                //-     .title__metaItem
                //-         //- <i class="far fa-star" aria-hidden="true"></i>
                //-         span(aria-label="Average rating")= title.voteAverage + "/5"
                //-     .title__metaItem
                //-         span.rating__user
                //-             if isAuth
                //-                 select(name="slct_rating")
                //-                     option(value="-1" disabled selected) Rate
                //-                     option(value="5") 5
                //-                     option(value="4") 4
                //-                     option(value="3") 3
                //-                     option(value="2") 2
                //-                     option(value="1") 1
                //-                     option(value="0") 0
                //-             else 
                //-                 a(href="/auth/signin") Signin to Rate

