extends layout/index.pug

block content
    .content__wrapper
        ul.watchlist__list.list--noStyle
            each itm in titles
                li(id= itm.id)
                    span.flex__wrapper--row
                        span.watchlist__image
                            img(src= itm.posterSm, alt= "Movie poster for \"" + itm.title + "\"")
                        span.watchlist__details
                            span= itm.title
                            span= "(" + itm.releaseYear + ")"
                            button(type="button" name="watchlist_remove" aria-label="Remove from watchlist", data-id= itm.tmdbId) [x]

block scripts
    script(src="/js/watchlist.js" type="text/javascript")