:root {
    /* Box Model */
    --app-width: 1024px;
    --app-padding-sm: 3%;
    --app-padding-lg: 64px;
    --height-header: 3.5rem;
    --padding-header: 0.5rem;
    --height-footer: 3rem;
    --page-padding-y: 1.6rem;
    --h1-sm: 1.5rem;
    --title-poster-width-sm: 40%;
    --title-poster-width-lg: 28%;

    /* Colours */
    --tmdb-primary: #0d253f;
    --tmdb-secondary: #01b4e4;
    --tmdb-tertiary: #90cea1;
    --black: #101010;
    --white: #f3f3f3;
    --off-white: #f3f8f2;
    --yellow: #e6af2e;
    --orange: #db5a42;

    /* Fonts */
    --type-header: "Comfortaa", Arial, Helvetica, sans-serif;
    --type-primary: "Open Sans", Arial, Helvetica, sans-serif;

    /* Calc */
    --header-stuff: calc(var(--height-header) - var(--padding-header));
}

@media (min-width: 0rem) {
    html {
        height: 100%;
        font-size: 100%;
        font-family: var(--type-primary);
        line-height: 1.15rem;
    }

    body {
        position: relative;
        display: flex;
        flex-flow: column wrap;
        width: 100%;
        min-height: 100vh;
        overflow-y: auto;
        margin: 0;
    }

    main {
        flex-basis: 60%;
        flex-grow: 1;
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        background-color: var(--off-white);
    }

    h2 {
        margin-bottom: 2rem;
        font-size: 1.5rem;
    }

    p {
        word-spacing: 0.1rem;
        letter-spacing: 0.015rem;
        line-height: 1.1rem;
    }

    img {
        display: block;
        width: 100%;
    }
    /* ------------------- */
    /*    Layout & Util    */
    /* ------------------- */

    .page__wrapper {
        width: 100%;
        max-width: var(--app-width);
        height: 100%;
        margin: 0 auto;
        padding: 0 var(--app-padding-sm);
    }

    .list--noStyle {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    /* ----------------------------------------------------------- */
    /*  From example at https://css-tricks.com/aspect-ratio-boxes/ */
    /* ----------------------------------------------------------- */
    .box__aspectRatio {
        position: relative;
        height: 0;
        padding-bottom: 56.25%; /* 9/16 = 0.5625 */
    }

    .box__aspectRatio iframe {
        width: 100%;
        height: 100%;
    }

    .box__aspectRatio_inside {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
    }

    /* ------------------- */
    /*     Re-Useable      */
    /* ------------------- */
    .icon__star {
        color: var(--yellow);
    }
}

@media (min-width: 64rem) {
    /* max width of .page__wrapper */

    /* main::before {
        content: "";
        position: absolute;
        top: -5px;
        left: 50%;
        transform: translate(-50%, 0);
        display: block;
        height: calc(100% + 5px);
        width: 100%;
        max-width: var(--app-width);
        border-left-width: 1px;
        border-right-width: 1px;
        border-style: solid;
        border-color: hsla(0, 0%, 60%, 0.2);
        box-shadow: 0 0 12px hsla(0, 0%, 60%, 0.6);
    } */

    .page__wrapper {
        padding: 0 var(--app-padding-lg);
    }
}

/** Page Header, Nav-Menu Specific - START */
@media (min-width: 0rem) {
    header {
        height: var(--height-header);
        width: 100%;
        padding: var(--padding-header) 0;
        background-color: var(--tmdb-primary);
        box-shadow: 0 3px 12px hsla(0, 0%, 30%, 0.3);
    }

    .header__wrapper {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .header__wrapper h1 {
        flex-basis: 60%;
        flex-grow: 1;
        font-family: var(--type-header);
        font-size: var(--h1-sm);
        color: var(--tmdb-secondary);
    }

    .dropdown__nav {
        position: relative;
    }

    .dropdown__nav > nav {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 100;
        transform-origin: right top;
        transform: scale(0.1);
        transition: transform 160ms ease-out;
        width: 16rem;
        max-width: calc(100vw - 12vw);
        margin-top: 1px;
        background-color: var(--off-white);
        border: 0.016rem solid black;
        border-radius: 5px;
    }

    .dropdown__nav.toggle--active > nav {
        transform: scale(1);
    }

    .dropdown__nav > button {
        position: relative;
        z-index: 110;
        width: var(--header-stuff);
        height: var(--header-stuff);
        color: #fefefe;
        font-size: 2rem;
        background-color: var(--tmdb-primary);
        border: none;
        border-radius: 5px;
    }

    .dropdown__nav > button:hover {
        background-color: hsla(0, 0%, 60%);
    }

    .dropdown__list {
        margin-top: var(--height-header);
        text-align: right;
        border-radius: 0.5rem;
    }

    .dropdown__item {
        padding: 0.5rem 1.5rem;
    }
}

/** Page Footer Specific - START */
@media (min-width: 0rem) {
    footer {
        position: relative;
        width: 100%;
        height: var(--height-footer);
        padding: 0.5rem 0;
        background-color: var(--white);
    }

    .footer__wrapper {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        width: inherit;
        height: inherit;
    }

    .footer__image--tmdb {
        flex-basis: 30%;
        max-width: 9rem;
    }

    .footer__brand {
        flex-grow: 1;
        text-align: right;
    }
}

/** Page Sections Specific - START */
@media (min-width: 0rem) {
    .section__head {
        height: 4rem;
    }

    .section__main--gray {
        background-color: hsl(0, 0%, 33%);
    }

    .section__head--title {
        height: auto;
        padding: 2rem 0;
        background-color: hsl(0, 0%, 5%);
    }

    .section__head > div {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }

    .section__head--title > div {
        align-items: flex-end;
    }

    .section__head h2 {
        margin-bottom: 0;
    }

    .section__head--title h2 {
        color: var(--tmdb-secondary);
        font-size: 2rem;
        font-family: var(--type-header);
    }

    .section__head--title span {
        margin-left: 0.5rem;
        color: hsl(0, 0%, 40%);
        font-size: 1.5rem;
    }

    .section__main--title {
        padding-top: 1rem;
        background-color: hsl(0, 0%, 8%);
    }
}

@media (min-width: 64rem) {
    .section__main--title {
        padding-top: 2rem;
    }
}

/** Sign-in Page, Form Specific - START  */
@media (min-width: 0rem) {
    .page__signin {
        height: calc(100vh - (var(--height-header) + var(--height-footer)));
        background-image: linear-gradient(to bottom right, var(--tmdb-tertiary), var(--tmdb-secondary));
    }

    .signin__container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .signin__form {
        width: 100%;
        max-width: 24rem;
        padding: 1.5rem 1rem;
        background-color: var(--white);
        border: 3px solid var(--tmdb-primary);
        border-radius: 15px;
        box-shadow: 0px 2px 8px hsla(0, 0%, 48%, 0.6);
    }

    .signin__legend {
        margin-top: 0.2rem;
        margin-bottom: 1.4rem;
        font-size: var(--h1-sm);
        font-family: var(--type-header);
    }

    .signin__inputGroup {
        margin-bottom: 1rem;
    }

    .signin__input {
        width: 100%;
        padding: 0.5rem;
        border: 2px solid var(--tmdb-primary);
        border-radius: 5px;
    }

    .signin__label {
        display: block;
        margin-bottom: 0.5rem;
    }

    .signin__alert--error {
        display: flex;
        flex-flow: row nowrap;
        margin: 0.3rem 0 1rem 0;
        font-size: 0.8rem;
        color: red;
    }

    .alert__icon--error {
        display: inline-block;
        width: 1rem;
        height: 1rem;
        margin-right: 0.2rem;
        padding-top: 0.1rem;
        color: white;
        font-weight: 600;
        text-align: center;
        background-color: red;
        border-radius: 50%;
    }

    .alert__text {
        padding-top: 0.1rem;
    }
}

/** Title Page Specific - START */
@media (min-width: 0rem) {
    .title {
        position: relative;
        display: flex;
        flex-flow: row wrap;
    }

    .title > div {
        display: flex;
        flex-flow: row wrap;
    }

    .title__video {
        order: 1;
        flex-basis: 100%;
        position: relative;
        height: 0;
        padding-bottom: 56.25%;
        overflow: hidden;
    }

    .title__video iframe {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
    }

    .title__poster {
        order: 2;
        flex-basis: var(--title-poster-width-sm);
        padding: 1rem 0.5rem 1rem 0;
    }

    .title__summary {
        order: 3;
        flex-basis: 60%;
        padding: 1rem 0 1rem 0.5rem;
    }

    .title__summary > p {
        font-size: 0.8rem;
        color: hsla(0, 0%, 80%);
    }

    /*  ratings, watchlist section */

    .title__actions {
        display: flex;
        flex-flow: row nowrap;
        padding: 0.5rem 0;
    }

    .title__ratings {
        flex-basis: var(--title-poster-width-sm);
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }

    .title__rating--average {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-bottom: 0.25rem;
    }

    .title__rating--average i {
        flex-basis: 20%;
        font-size: 1rem;
        text-align: center;
    }

    .title__rating--average .rating__numerator {
        margin-right: 0.2rem;
        font-size: 1.6rem;
        color: var(--white);
    }

    .title__rating--average .rating__denominator {
        color: hsl(0, 0%, 70%);
    }

    .title__rating--user {
        padding-top: 0.25rem;
    }

    .title__button--watchlist {
        flex-grow: 1;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }

    .title__button--watchlist > button,
    .title__button--watchlist > a {
        display: inline-block;
        width: auto;
        padding: 0.5rem 1rem;
        text-align: center;
        font-family: var(--type-header);
        font-weight: 600;
        background-color: var(--tmdb-secondary);
        border: 1px solid var(--tmdb-primary);
    }
}

@media (min-width: 40rem) {
    .title__video {
        order: 2;
        flex-basis: auto;
        flex-grow: 1;
        padding-bottom: 42%; /* why does 42 work? */
    }

    .title__poster {
        order: 1;
        flex-basis: var(--title-poster-width-lg);
        padding: 0;
    }

    .title__summary {
        flex-basis: 100%;
        padding: 2rem 10px;
        color: hsl(0, 0%, 90%);
    }

    .title__summary > p {
        font-size: 1rem;
    }

    .title__ratings {
        flex-basis: var(--title-poster-width-lg);
    }

    .title__rating--average,
    .title__rating--user {
        padding: 0;
    }

    .title__rating--average i {
        font-size: 1.3rem;
    }

    .title__rating--average .rating__numerator {
        font-size: 2rem;
    }

    .title__button--watchlist > button,
    .title__button--watchlist > a {
        width: 60%;
        font-size: 1.3rem;
    }
}

@media (min-width: 48rem) {
    .title__actions {
        padding: 1rem 0;
    }

    .title__ratings {
        justify-content: flex-start;
    }

    .title__rating--average,
    .title__rating--user {
        flex: 1;
    }

    .title__rating--user {
        text-align: center;
    }

    .title__rating--average i {
        flex-basis: unset;
        margin-right: 5%;
    }
}

/** '.titleList' Specific - START */
@media (min-width: 0rem) {
    .titleList__list {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        margin: 0 -1rem;
    }

    .titleList__item {
        flex-basis: calc(50% - 1rem);
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        max-width: calc(185px + 1rem);
        margin: 0.5rem;
        box-shadow: 0px 1px 5px hsla(0, 0%, 40%, 0.4);
    }

    .titleList__item > a {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 48px;
        display: block;
        width: 100%;
    }

    .titleList__poster {
        margin-top: 8px;
        padding: 0 8px;
    }

    .titleList__details {
        padding: 0 8px;
    }

    .titleList__title {
        margin: 16px 0;
    }

    .titleList__title > span:first-of-type {
        margin-right: 8px;
    }
    .titleList__title > span:last-of-type {
        font-size: 14px;
    }

    .titleList__rating {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        margin: 8px 0;
    }

    .titleList__rating i {
        margin-right: 4px;
    }

    .button__watchlist {
        width: 100%;
        margin: 16px 0 8px;
    }

    .button__watchlist > button {
        width: inherit;
        padding: 4px;
    }

    .button__watchlist--add > button {
        background-color: var(--tmdb-secondary);
    }

    .button__watchlist--remove > button {
        background-color: var(--orange);
    }
}

/** '.highlights' Specific - START */
@media (min-width: 0rem) {
    /* .highlight > .highlight__graphics + .highlight__details */
    .highlight {
        position: relative;
        width: 100%;
    }

    /* .highlight__graphics > .highlight__backdrop + .highlight__poster */
    .highlight__graphics {
        position: relative;
        width: 100%;
    }

    .highlight__backdrop {
        width: 100%;
    }

    .highlight__poster {
        position: absolute;
        bottom: -4rem;
        width: 100%;
    }

    .highlight__image--poster {
        width: 40%;
        max-width: 185px;
        box-shadow: 3px 2px 6px hsla(0, 0%, 30%, 0.2);
    }

    .highlight__details {
        height: auto;
        min-height: 4rem;
        padding-left: 41%;
    }

    .highlight__details span {
        display: block;
        margin: 0.5rem 0;
        color: var(--txt-primary);
    }

    a.highlight__anchor {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        display: block;
        width: 100%;
        height: 100%;
    }
}

@media (min-width: 40rem) {
    /* matches highlight 'picture' element image break-point value */

    .highlight__image--poster {
        width: 35%;
        max-width: 342px;
    }

    .highlight__details span:first-of-type {
        font-size: 1.5rem;
    }
}

/** Smooth Scroller Specific - START */
@media (min-width: 0rem) {
    .scroller__container {
        position: relative;
        width: 100%;
        max-width: calc(var(--app-width) - (var(--app-padding-sm) * 2));
        height: auto;
        margin: 0 auto;
        overflow: hidden;
    }

    .scroller__list {
        display: flex;
        flex-flow: row nowrap;
        transition-duration: 400ms;
        transition-property: transform;
        transition-timing-function: ease-out;
    }

    .scroller__item {
        flex-basis: 100%;
        flex-shrink: 0;
    }

    .scroller__button {
        position: absolute;
        z-index: 600;
        top: calc(50% - 3rem);
        transform: translate(0, -50%);
        display: none;
        margin: 0 0.5rem;
    }

    .scroller__button > button {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        background-color: hsla(0, 0%, 20%, 0.5);
        background-image: url("/images/icon_sprite.png");
        background-size: 256px;
        background-repeat: no-repeat;
        border: 3px solid var(--tmdb-tertiary);
    }

    .scroller__button--right {
        right: 0;
    }

    .scroller__button--right > button {
        background-position: -64px -11px;
    }

    .scroller__button--left > button {
        background-position: 0 -11px;
    }
}

@media (min-width: 62rem) {
    .scroller__button {
        display: block;
    }
}

@media (min-width: 64rem) {
    .scroller__container {
        max-width: calc(var(--app-width) - (var(--app-padding-lg) * 2));
    }
}

/** '.search' Specific - START  */
@media (min-width: 0rem) {
    .search__container {
        padding-top: 1rem;
    }

    .search__container--emptyPage > span {
        display: inline-block;
        width: 100%;
        margin: 1rem 0;
        text-align: center;
    }

    .search__container--emptyPage > span:first-of-type {
        font-size: 1.8rem;
    }

    .search__container--emptyPage > span:last-of-type {
        font-size: 1.2rem;
    }

    .search {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        height: 4rem;
    }

    .search__label {
        position: absolute;
        z-index: -1;
    }

    .input__group {
        flex: 1;
        display: flex;
        flex-flow: row nowrap;
    }

    .input__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        background-color: white;
        border: 1px solid black;
        border-right: none;
    }

    .search__input {
        width: 100%;
        height: 50px;
        border: 1px solid black;
        border-left: none;
    }

    .search__button {
        height: 50px;
    }

    .search__button > button {
        height: 100%;
        border: 1px solid black;
        border-left: none;
    }
}
