:root {
    /* Box Model Variables */
    --height-header: 3.5rem;
    --height-footer: 3rem;
    --padding-header: 0.5rem;

    /* Colour Variables */
    --bg-primary: #232323;
    --td-border-light: #cbcbcb;
    --td-border-dark: #ababab;

    /* Typography Variables */
    --type-primary: 'Comfortaa', Arial, Helvetica, sans-serif;
    --type-secondary: 'Open Sans', Arial, Helvetica, sans-serif;

    /* Calc Variables */
    --header-stuff: calc(var(--height-header) - var(--padding-header));
}

@media (min-width: 0) {
    html {
        height: 100%;
        font-size: 100%;
        font-family: var(--type-secondary);
        line-height: 1.15rem;
    }

    body {
        position: relative;
        display: flex;
        flex-flow: column wrap;
        width: 100%;
        min-height: 100vh;
        overflow-y: auto;
        margin: 0;
    }

    header {
        flex-basis: var(--height-header);
        flex-grow: 0;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        width: 100%;
        /* height: var(--height-header);  */
        padding: var(--padding-header) 1rem;
        background-color: var(--bg-primary);
    }

    header h1 {
        flex-basis: 60%;
        flex-grow: 1;
        font-family: var(--type-primary);
        font-size: 2rem;
        color: #efefef;
    }

    .toolbar {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        width: 100%;
    }

    .menu__dropdown {
        position: relative;
    }

    .menu__dropdown > nav {
        position: absolute;
        top: var(--header-stuff);
        right: 0;
        z-index: 100; /* Should be top page element */
        display: none;
    }

    .menu__dropdown.toggle--active > nav {
        display: block;
    }

    .menu__dropdown > button {
        width: var(--header-stuff);
        height: var(--header-stuff);
        color: #fefefe;
        font-size: 2rem;
        background-color: transparent;
        border: none;
        border-radius: 50%;
    }

    .menu__dropdown > button:hover {
        background-color: hsla(0, 0%, 60%, 0.5);
    }

    .menu__dropdown ul {
        text-align: right;
        background-color: #fefefe;
        border: 0.16rem solid #232323;
        border-radius: 0.5rem;
    }

    .menu__dropdown li {
        padding: 0.5rem 1.5rem;
    }

    main {
        flex-basis: 60%;
        flex-grow: 1;
        display: block;
        width: 100%;
        height: 100%;
        padding: 2rem 0;
    }

    h2 {
        margin-bottom: 2rem;
        font-size: 2rem;
    }

    footer {
        flex-basis: var(--height-footer);
        flex-grow: 0;
        display: flex;
        align-items: center;
        width: 100%;
        padding: 0.5rem 0;
        background-color: var(--bg-primary);
    }

    footer p {
        color: #efefef;
        font-family: var(--type-secondary);
        text-align: center;
        font-size: 12px;
    }

    img {
        display: block;
        width: 100%;
    }

    p {
        word-spacing: 0.1rem;
        letter-spacing: 0.015rem;
    }
    /* ------------------- */
    /*    Layout & Util    */
    /* ------------------- */
    .content__wrapper {
        display: block;
        width: 88%;
        max-width: 1200px;
        height: 100%;
        margin: 0 auto;
    }

    .flex__wrapper--row {
        display: flex;
        flex-direction: row;
    }

    .flex__wrapper--column {
        display: flex;
        flex-direction: column;
    }

    .list--noStyle {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .posterGroup ul {
        display: flex;
    }
    
    /* ------------------- */
    /*  Rating Base Styles */
    /* ------------------- */
    .button__ratings {
    }

    .button__ratings--empty {
        background-color: #fafafa;
    }

    .button__ratings--filled {
        background-color: yellow;
    }
}