:root {
    /* Box Model */
    --app-max-width: 1024px;
    --app-padding-sm: 3%;
    --app-padding-lg: 64px;

    --height-header: 3.5rem;
    --height-banner: 9.25rem;

    --border-radius: 8px;

    --height-footer: 3rem;
    --page-padding-y: 1.6rem;
    --title-poster-width-sm: 40%;
    --title-poster-width-lg: 28%;

    /* Colours */
    --tmdb-navy: #0d253f;
    --tmdb-blue: #01b4e4;
    --tmdb-green: #90cea1;
    --tmdb-navy-lighten: #153e67;
    --tmdb-navy-darken: #113354;
    --highlight-yellow: #f6cb31;
    --highlight-red: #e04c11;

    --text-white: #efeff1;

    /* Fonts */
    --type-header: "Comfortaa", Arial, Helvetica, sans-serif;
    --type-primary: "Open Sans", Arial, Helvetica, sans-serif;
}

@media (min-width: 0rem) {
    html {
        height: 100%;
        font-size: 100%;
        font-family: var(--type-primary);
        line-height: 1.15rem;
    }

    body {
        display: flex;
        flex-flow: column wrap;
        width: 100%;
        min-height: 100vh;
    }

    main {
        flex-basis: 60%;
        flex-grow: 1;
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
    }

    h2 {
        margin-bottom: 2rem;
        font-size: 1.5rem;
    }

    p {
        word-spacing: 0.1rem;
        letter-spacing: 0.015rem;
        line-height: 1.1rem;
    }

    img {
        display: block;
        width: 100%;
    }

    /* ------------------- */
    /*    Layout & Util    */
    /* ------------------- */

    .page__wrapper {
        width: 100%;
        max-width: var(--app-max-width);
        height: 100%;
        margin: 0 auto;
        padding: 0 var(--app-padding-sm);
    }

    .list--noStyle {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .text--blue {
        color: var(--tmdb-blue);
    }

    .text--green {
        color: var(--tmdb-green);
    }
}

@media (min-width: 64rem) {

    .page__wrapper {
        padding: 0 var(--app-padding-lg);
    }
}

/** Page Sections Specific - START */
@media (min-width: 0rem) {
    .section__head {
        height: 4rem;
    }

    .section__main--gray {
        background-color: hsl(0, 0%, 33%);
    }

    .section__head--title {
        height: auto;
        padding: 2rem 0;
        background-color: hsl(0, 0%, 5%);
    }

    .section__head > div {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }

    .section__head--title > div {
        align-items: flex-end;
    }

    .section__head h2 {
        margin-bottom: 0;
    }

    .section__head--title h2 {
        color: var(--tmdb-blue);
        font-size: 2rem;
        font-family: var(--type-header);
    }

    .section__head--title span {
        margin-left: 0.5rem;
        color: hsl(0, 0%, 40%);
        font-size: 1.5rem;
    }

    .section__main--title {
        padding-top: 1rem;
        background-color: hsl(0, 0%, 8%);
    }
}

@media (min-width: 64rem) {
    .section__main--title {
        padding-top: 2rem;
    }
}

/** Form Base Styles - START */
@media (min-width: 0rem) {
    label {
        font-size: 1em;
    }

    input {
        width: 100%;
        padding: 0.5em;
        border-radius: var(--border-radius);
    }

    input:focus {
        outline: none;
        box-shadow: 0 0 8px var(--tmdb-blue);
    }

    button {
        border-radius: var(--border-radius);
        border-color: var(--tmdb-navy-lighten);
        background-color: var(--tmdb-navy-lighten);
        color: var(--text-white);
        transition: all 180ms ease;
    }

    button:hover {
        background-color: var(--tmdb-navy-darken);
        color: var(--tmdb-green);
    }

    .input__decorated--left {
        position: relative;
    }

    .input__decorated--left input {
        padding-left: 2.4em;
    }

    .input__decorated--left .input__icon {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 0 0.8em;
    }

    .input__icon i {
        color: hsla(0, 0%, 35%, 0.5);
    }
}

/** Page Header - START */
@media (min-width: 0rem) {
    header {
        height: var(--height-header);
        width: 100%;
        background-color: var(--tmdb-navy);
        box-shadow: 0 3px 12px hsla(0, 0%, 30%, 0.3);
    }

    .header__wrapper {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .header__wrapper h1{
        flex-basis: 60%;
        flex-grow: 1;
    }

    .header__wrapper h1 a {
        font-family: var(--type-header);
        color: var(--tmdb-green);
    }
}

/** Page Footer Specific - START */
@media (min-width: 0rem) {
    footer {
        position: relative;
        width: 100%;
        height: var(--height-footer);
        padding: 0.5rem 0;
        background-color: var();
    }

    .footer__wrapper {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        width: inherit;
        height: inherit;
    }

    .footer__image--tmdb {
        flex-basis: 30%;
        max-width: 9rem;
    }

    .footer__brand {
        flex-grow: 1;
        text-align: right;
    }
}

/** '.menu' Specific - START */
@media (min-width: 0rem) {
    .menu--dropdown {
        position: relative;
    }

    .menu--inline {
        flex-basis: 7rem;
        height: 100%;
    }

    .menu--inline *:not(span):not(i) {
        height: inherit;
    }

    .menu__button {
        position: relative;
        z-index: 1000;
        width: 2.5rem;
        height: 2.5rem;
        background-color: transparent;
        border-color: transparent;
    }

    .menu__button i {
        font-size: 1.2rem;
    }

    .menu__button:hover {
        background-color: var(--tmdb-navy-lighten);
    }

    .menu__wrapper--nav {
        display: none;
    }

    .toggle--active .menu__wrapper--nav {
        position: absolute;
        top: 3rem;
        right: 0;
        z-index: 1000;
        display: block;
        box-shadow: 1px 4px 8px hsla(0, 0%, 8%, 0.5);
        border-radius: 0 0 8px 8px;
    }

    .toggle--active .menu__backdrop {
        /* background: hsla(0, 0%, 60%, 0.9); */
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        display: block;
        width: 100%;
        height: 100%;
    }
       

    .menu--dropdown .menu__nav {
        overflow: hidden;
    }

    .menu--dropdown .menu__list {
        padding: 0.875rem 0;
        text-align: right;
        background-color: var(--tmdb-navy-lighten);
    }

    .menu--dropdown .menu__item {
        width: 14rem;
    }

    .menu__anchor,
    .menu__anchor--signout,
    .menu__anchor--signin {
        display: flex;
        flex-flow: row-reverse wrap;
        align-items: center;
        color: var(--text-white);
        transition: color 160ms ease;
    }

    .menu__anchor {
        padding: 1rem;
    }

    .menu--inline .menu__anchor--signin {
        padding: 0 0.5rem;
    }

    button.menu__anchor--signout {
        width: 100%;
        border: none;
    }

    .menu__anchor:hover,
    .menu__anchor--signin:hover {
        color: var(--tmdb-green);
        background-color: var(--tmdb-navy-darken);
    }

    .menu__anchor:hover #popcorn_top path {
        fill: var(--highlight-yellow);
    }

    .menu__anchor:hover #popcorn_bucket path {
        fill: var(--highlight-red);
    }

    .menu__anchor:hover #star1 path {
        fill: var(--highlight-yellow);
    }

    .menu__anchor--signout:hover .anchor__icon i,
    .menu__anchor--signin:hover .anchor__icon i {
        color: var(--tmdb-green);
    }

    .anchor__label {
        flex-grow: 1;
        font-size: 1.2rem;
        text-transform: capitalize;
    }

    button.menu__anchor--signout .anchor__label {
        text-align: right;
    }

    .anchor__icon {
        flex-basis: 1.6rem;
        height: 1.625rem;
    }

    .menu__anchor--signout .anchor__icon,
    .menu__anchor--signin .anchor__icon {
        display: flex;
        justify-self: center;
        align-items: center;
    }

    .menu--inline .anchor__icon {
        margin-right: 0.5rem;
    }

    .anchor__icon path{
        fill: var(--text-white);
        transition: fill 160ms ease;
    }

    .anchor__icon i {
        font-size: 1.4rem;
        transition: color 160ms ease;
    }
}

/** '.section' Styles - START */
@media (min-width: 0rem) {
    .section--banner {
        padding: 2rem 0;
        background-color: var(--tmdb-navy-darken);
    }

    .section--search {
        padding: 1.8rem 0;
    }
}

/** '.banner' Styles - START*/
@media (min-width: 0rem) {
    .banner__wrapper {
        font-size: 1rem;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        height: inherit;
    }

    .banner__text {
        width: 100%;
        text-align: center;
        color: var(--text-white);
        font-size: 1.2em;
        font-weight: 600;
        line-height: 1.6em;
    }

    .banner__text span:first-of-type {
        margin-right: 0.4em;
    }

    .banner__anchor {
        display: inline-block;
        width: 13em;
        margin: 0.6em 0;
    }
}

@media (min-width: 48rem) {
    .banner__wrapper {
        font-size: 1.4rem;
    }
}

@media (min-width: 80rem) {
    .banner__wrapper {
        font-size: 1.6rem;
    }
}

/** '.search' Specific - START  */
@media (min-width: 0rem) {
    .search__wrapper {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        font-size: 1rem;
    }

    .search__inputGroup {
        flex-basis: 60%;
        flex-grow: 1;
        position: relative;
    }

    .search__inputGroup label {
        position: absolute;
        z-index: -1;
    }

    .search__input {
        flex-basis: 60%;
        flex-grow: 1;
    }

    .search__input input {
        padding-top: 0.6em;
        padding-bottom: 0.6em;
        padding-left: 2.4em;
        font-size: 1em;
    }

    .search__input .input__icon {
        padding: 0 1em;
    }

    .search__input .input__icon i {
        font-size: 1em;
    }

    .search__button {
        flex-basis: auto;
        flex-grow: 0;
        margin-left: 0.8em;
    }

    .search__button button {
        padding: 0.6em 1.2em;
        font-size: 1em;
        border-color: var(--tmdb-navy-lighten);
    }
}

@media (min-width: 48rem) {
    .search__wrapper {
        max-width: 70%;
        font-size: 1.2rem;
    }
}

/** '.highlights' Specific - START */
@media (min-width: 0rem) {

    .highlight {
        position: relative;
        width: 100%;
    }

    .highlight__graphics {
        position: relative;
        width: 100%;
    }

    .highlight__backdrop {
        width: 100%;
    }

    .highlight__poster {
        position: absolute;
        bottom: -4rem;
        width: 100%;
    }

    .highlight__image--poster {
        width: 40%;
        max-width: 185px;
        box-shadow: 3px 2px 6px hsla(0, 0%, 30%, 0.2);
    }

    .highlight__details {
        height: auto;
        min-height: 4rem;
        padding-left: 40%;
    }

    .highlight__details span {
        display: block;
        margin: 0.5rem 0;
        padding-left:0.5rem;
        color: var(--txt-primary);
    }

    a.highlight__anchor {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        display: block;
        width: 100%;
        height: 100%;
    }
}

@media (min-width: 40rem) {

    .highlight__image--poster {
        width: 35%;
        max-width: 342px;
    }

    .highlight__details span:first-of-type {
        font-size: 1.5rem;
    }
}

/** Smooth Scroller Specific - START */
@media (min-width: 0rem) {
    .scroller__container {
        position: relative;
        width: 100%;
        max-width: calc(var(--app-max-width) - (var(--app-padding-sm) * 2));
        height: auto;
        margin: 0 auto;
        overflow: hidden;
    }

    .scroller__list {
        display: flex;
        flex-flow: row nowrap;
        transition-duration: 400ms;
        transition-property: transform;
        transition-timing-function: ease-out;
    }

    .scroller__item {
        flex-basis: 100%;
        flex-shrink: 0;
    }

    .scroller__button {
        position: absolute;
        z-index: 600;
        top: calc(50% - 3rem);
        transform: translate(0, -50%);
        display: none;
        margin: 0 0.5rem;
    }

    .scroller__button > button {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        background-color: hsla(0, 0%, 20%, 0.5);
        background-image: url("/images/icon_sprite.png");
        background-size: 256px;
        background-repeat: no-repeat;
        border: 3px solid var(--tmdb-green);
    }

    .scroller__button--right {
        right: 0;
    }

    .scroller__button--right > button {
        background-position: -64px -11px;
    }

    .scroller__button--left > button {
        background-position: 0 -11px;
    }
}

@media (min-width: 62rem) {
    .scroller__button {
        display: block;
    }
}

@media (min-width: 64rem) {
    .scroller__container {
        max-width: calc(var(--app-max-width) - (var(--app-padding-lg) * 2));
    }
}

/** '.titleList' Specific - START */
@media (min-width: 0rem) {

    .titleList__list {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        margin: 0 -1rem;
    }

    .titleList__item {
        flex-basis: calc(50% - 1rem);
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        max-width: calc(185px + 1rem);
        margin: 0.5rem;
        box-shadow: 0px 1px 5px hsla(0, 0%, 40%, 0.4);
    }

    .titleList__item > a {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 48px;
        display: block;
        width: 100%;
    }

    .titleList__poster {
        margin-top: 8px;
        padding: 0 8px;
    }

    .titleList__details {
        padding: 0 8px;
    }

    .titleList__title {
        height: 4.375rem;
        margin: 8px 0;
        line-height: 1.1rem;
    }

    .titleList__title > span:first-of-type {
        margin-right: 8px;
    }
    .titleList__title > span:last-of-type {
        font-size: 14px;
    }

    .titleList__rating {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        margin: 8px 0;
    }

    .titleList__rating i {
        margin-right: 4px;
        color: var(--highlight-yellow);
    }

    .button__watchlist {
        width: 100%;
        margin: 16px 0 8px;
    }

    .button__watchlist > button {
        width: inherit;
        padding: 4px;
    }

    .button__watchlist--add > button {
        background-color: var(--tmdb-blue);
    }
}

/** Sign-in Page, Form Specific - START  */
@media (min-width: 0rem) {

    .page__signin {
        height: calc(100vh - (var(--height-header) + var(--height-footer)));
        background-image: linear-gradient(to bottom right, var(--tmdb-green), var(--tmdb-blue));
    }

    .signin__container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .form__wrapper {
        max-width: 90%;
        max-height: 80%;
        padding: 50px 50px 45px;
        background-color: hsla(184, 69%, 88%, 0.6);
        box-shadow: 0 6px 12px hsla(0, 0%, 5%, 0.5);
    }

    .signin__form {
        font-size: 1rem;
    }

    .signin__legend {
        margin: 0.5em 0;
        font-size: 1.5em;
    }

    .signin__inputGroup {
        display: flex;
        flex-flow: column nowrap;
        margin: 0.5em 0 1em;
    }

    .signin__input {
        height: 2.375em;
    }

    .signin__label {
        margin-bottom: 0.5em;
    }

    .signin__footer {
        display: flex;
        flex-flow: row-reverse wrap;
        justify-content: space-between;
        margin-top: 1.2em;
    }

    .signin__button {
        height: 2.375em;
    }

    .signin__button button {
        padding: 0.5em 0.875em;
    }

    .signin__guest {
        width: 45%;
        text-align: center;
        line-height: 1.3em;
        font-size: 0.9em;
    }
}

/** Title Page Specific - START */
@media (min-width: 0rem) {

    .title {
        position: relative;
        display: flex;
        flex-flow: row wrap;
    }

    .title > div {
        display: flex;
        flex-flow: row wrap;
    }

    .title__video {
        order: 1;
        flex-basis: 100%;
        position: relative;
        height: 0;
        padding-bottom: 56.25%;
        overflow: hidden;
    }

    .title__video iframe {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
    }

    .title__poster {
        order: 2;
        flex-basis: var(--title-poster-width-sm);
        padding: 1rem 0.5rem 1rem 0;
    }

    .title__summary {
        order: 3;
        flex-basis: 60%;
        padding: 1rem 0 1rem 0.5rem;
    }

    .title__summary > p {
        font-size: 0.8rem;
        color: hsla(0, 0%, 80%);
    }

    /*  ratings, watchlist section */

    .title__actions {
        display: flex;
        flex-flow: row nowrap;
        padding: 0.5rem 0;
    }

    .title__ratings {
        flex-basis: var(--title-poster-width-sm);
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }

    .title__rating--average {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-bottom: 0.25rem;
    }

    .title__rating--average i {
        flex-basis: 20%;
        font-size: 1rem;
        text-align: center;
    }

    .title__rating--average .rating__numerator {
        margin-right: 0.2rem;
        font-size: 1.6rem;
        color: var();
    }

    .title__rating--average .rating__denominator {
        color: hsl(0, 0%, 70%);
    }

    .title__rating--user {
        padding-top: 0.25rem;
    }

    .title__button--watchlist {
        flex-grow: 1;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }

    .title__button--watchlist > button,
    .title__button--watchlist > a {
        display: inline-block;
        width: auto;
        padding: 0.5rem 1rem;
        text-align: center;
        font-family: var(--type-header);
        font-weight: 600;
        background-color: var(--tmdb-blue);
        border: 1px solid var(--tmdb-navy);
    }
}

@media (min-width: 40rem) {

    .title__video {
        order: 2;
        flex-basis: auto;
        flex-grow: 1;
        padding-bottom: 42%; /* why does 42 work? */
    }

    .title__poster {
        order: 1;
        flex-basis: var(--title-poster-width-lg);
        padding: 0;
    }

    .title__summary {
        flex-basis: 100%;
        padding: 2rem 10px;
        color: hsl(0, 0%, 90%);
    }

    .title__summary > p {
        font-size: 1rem;
    }

    .title__ratings {
        flex-basis: var(--title-poster-width-lg);
    }

    .title__rating--average,
    .title__rating--user {
        padding: 0;
    }

    .title__rating--average i {
        font-size: 1.3rem;
    }

    .title__rating--average .rating__numerator {
        font-size: 2rem;
    }

    .title__button--watchlist > button,
    .title__button--watchlist > a {
        width: 60%;
        font-size: 1.3rem;
    }
}

@media (min-width: 48rem) {

    .title__actions {
        padding: 1rem 0;
    }

    .title__ratings {
        justify-content: flex-start;
    }

    .title__rating--average,
    .title__rating--user {
        flex: 1;
    }

    .title__rating--user {
        text-align: center;
    }

    .title__rating--average i {
        flex-basis: unset;
        margin-right: 5%;
    }
}