@media(min-width: 0px) {
    /* table { 
        width: 100%;
    }

    th {
        padding: 1rem 0.5rem;
        color: white;
        text-align: left;
        background-color: blue;
    }

    td {
        padding: 1rem 0.5rem;
    }

    th.table__col--hidden,
    td.table__col--hidden {
        display: none;
    } */

    .scroller__container {
        position: relative;
        overflow: hidden;
    }
    
    /* .scroller__container ::after { 
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        display: block;
        width: 100%;
        height: 100%;
    } */

    .highlights {
        /* position: relative; */
        display: flex;
        width: 100%;
        height: 100%;
        flex-flow: row nowrap;
        transition: all 300ms ease;
    }

    .highlights__item {
        position: relative;
        width: 100vw;
        height: 17rem;
        margin-bottom: 2rem;
    }

    /* .highlights__item > a {
        position: relative;
        top: 0;
        left: 0;
        display: inline-block;
        width: 100%;
        height: 100%;
    } */

    .highlights__backdrop {
        width: inherit;
        height: auto;
    }

    .highlights__backdrop > img {
        width: 100%;
    }

    .highlights__poster {
        position: absolute;     
        bottom: 0;
        z-index: 100;
        left: 2rem; 
        width: 7rem;
    }

    .highlights__poster > img {
        width: 100%;
    }

    .highlights__details {
        margin-left: 9rem;
        padding: 0.5rem;
    }
} 