@media(min-width: 0px) {
    /* table { 
        width: 100%;
    }

    th {
        padding: 1rem 0.5rem;
        color: white;
        text-align: left;
        background-color: blue;
    }

    td {
        padding: 1rem 0.5rem;
    }

    th.table__col--hidden,
    td.table__col--hidden {
        display: none;
    } */

    [data-role=smooth_scroller] {
        position: relative;
        overflow: hidden;
    }

    [data-role=scroll_list] {
        display: flex;
        flex-flow: row nowrap;
        transition: transform 320ms ease-out;
    }

    .highlights__item {
        width: 100vw;
        height: 17rem;
        margin-bottom: 2rem;
    }

    .highlights__item > a {
        position: relative;
        display: inline-block;
        width: inherit;
        height: 100%;
    }

    .highlights__backdrop {
        width: inherit;
        height: auto;
    }

    .highlights__backdrop > img {
        width: 100%;
    }

    .highlights__poster {
        position: absolute;     
        bottom: 0;
        z-index: 100;
        left: 2rem; 
        width: 7rem;
    }

    .highlights__poster > img {
        width: 100%;
    }

    .highlights__details {
        margin-left: 9rem;
        padding: 0.5rem;
    }
} 