@media(min-width: 0px) {
    .title__section {
        margin: 1rem 0;
    }

    .title__section:first-of-type {
        margin-top: 0;
    }

    .title__header .flex__wrapper--row {
        flex-wrap: nowrap;
        align-items: flex-end;
        margin: 1rem 0;   
    }

    .title__header h2 {
        margin: 0 0.5rem 0 0;
        font-size: 1.2rem;
        font-weight: 600;
    }

    .title__overview .title__poster {
        flex-basis: 20%;
        flex-grow: 1;
        max-width: 342px;
    }

    .title__overview .title__summary {
        flex-basis: 60%;
        flex-grow: 1;
        padding-left: 1rem;
    }

    .title__overview .title__summary p {
        margin-bottom: 1rem;
    }
}