doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title='Morrison Hotel'
        link(rel="stylesheet", href="/css/setup.css")
        link(rel="stylesheet", href="/css/global.css")
    body
        include includes/header.pug
        block content
        include includes/footer.pug