doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title='Morrison Hotel'
        link(href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600&family=Open+Sans&display=swap", rel="stylesheet")  
        link(rel="stylesheet", href="/css/setup.css")
        link(rel="stylesheet", href="/css/global.css")
        block headStyles
    body
        include includes/header.pug
        main
            block content
        include includes/footer.pug

        script(src="/js/toggleElement.js", type="text/javascript")
        script(src="/js/main.js", type="text/javascript")