header
    .page__wrapper
        .header__wrapper
            h1 Motel Movies 
            .dropdown__nav(data-role="dropdown")
                button(type="button" name="btn_toggle" aria-haspopup="true" aria-expanded="false") =
                nav
                    ul.dropdown__list(aria-role="listbox")
                        li.dropdown__item 
                            a(href="/") Home
                            
                        if isAuth
                            li.dropdown__item
                                button(type="button" name="btn_signout") Sign Out
                        else 
                            li.dropdown__item
                                a(href="/auth/signin") Sign In
