header
    .content__wrapper
        .toolbar
            h1 Motel
            .menu__dropdown
                button.dropdown(type="button", data-role="dropdown", aria-haspopup="true", aria-expanded="false")
                    span.hamburger


