header
    .toolbar
        h1 Motel Movies 
        .menu__dropdown(data-role="dropdown")
            button(type="button" name="toggle_activator" aria-haspopup="true" aria-expanded="false") =

            nav
                ul.dropdown__list(aria-role="listbox")
                    li 
                        a(href="/") Home
                    li
                        a(href="/auth/signin") Signin


