.modal
    .modal__blackout
    .content__wrapper
        .modal__body
            .modal__header
                button(type="button", aria-label='close') [X]
            .modal__main
                block modal